/* eslint-disable */
.contact_input{
    background: transparent !important;
    border: none;
    outline: none !important;
    box-shadow: none !important;
    border-bottom: 1px solid #F33288;
    
    @apply  p-1 border-b-2 text-[#F33288] focus:border-b-[#F33288] w-[100%] md:w-[100%];

}
::placeholder {
    color: red;
    opacity: 1; /* Firefox */
  }
  

contact_input:focus{
    outline: none;
    box-shadow: none;
    border: none;
    background:transparent;
    border-bottom: 1px solid #F33288;

}
.contact_label{
    @apply text-[12px] leading-[20px] font-[400] font-[Sofia] text-[#F33288]
}

.contact_submit{
    @apply bg-[#F33288] rounded  text-center w-fit    p-2 flex justify-center text-[16px] leading-[24px] font-[Sofia] text-white font-[500] ;

}
.contact_text_header_mob{
    @apply text-[32px] md:text-[48px] leading-[38px] md:leading-[52px] font-[900] font-[Integral] text-[#F33288]

}

.contact_text_header{
    @apply text-[32px] md:text-[48px] leading-[38px] md:leading-[52px] font-[900] font-[Integral] text-[#fff]

}
.contact_sub_text {
    @apply text-[14px] md:text-[18px] leading-[16px] md:leading-[18px] font-[500] font-[Sofia] text-[#fff]

}
.contact_sub_text_mob {
    @apply text-[14px] md:text-[16px] leading-[16px] md:leading-[18px] font-[500] font-[Sofia] text-[#F33288]

}


.fish_bottom_heading {
    @apply text-[14px] md:text-[16px] leading-[16px] md:leading-[20px] font-[700] font-[Sofia] text-[#fff]

}
.fish_bottom_text {
    @apply text-[12px] md:text-[14px] leading-[16px] md:leading-[20px] font-[500] font-[Sofia] text-[#fff]

}
.contact_header{
    @apply text-[14px] md:text-[16px] leading-[16px] md:leading-[18px] font-[900] font-[Integral] text-[#F33288]

}
.contact_text{
    @apply md:text-[16px] leading-[18px] md:leading-[24px] font-[400] font-[Sofia] text-[#F33288] w-[85%]
}

.contact_sub_header{
    @apply text-[16px] md:text-[24px] leading-[18px] md:leading-[28px] font-[500] font-[Integral] text-[#F33288]

}
.hero_text_heading{
    @apply text-[16px] md:text-[24px] leading-[18px] md:leading-[28px] font-[500] font-[Integral] text-[#fff]

}
.hero_button{
    @apply text-[12px] md:text-[14px] leading-[18px] md:leading-[24px] font-[500] font-[Sofia] text-[#fff]

}
.fan_button{
    @apply bg-[#F33288] rounded-lg  p-2  gap-2 text-white  text-[12px] md:text-[14px] leading-[14px] md:leading-[16px] font-[500] font-[Sofia];

}

.contact_main_container{
    background-image: url("/contact_bg.png");
    background-repeat: no-repeat;
    background-size:contain;

    }
@media screen and (max-width:768px) {
    

    .contact_main_container_what{
        background:  url("/what_bg_mob_1.png")   ;
        background-repeat: no-repeat;
        background-size:cover;
        }
    }

@media screen and (min-width:768px) {
    

    .contact_main_container_what{
        background-image: url("/contact_bg.png");
        background-repeat: no-repeat;
        background-size:contain;
        }
    
    }

.fan_main_container{
    background-image: url("/fan_bg.png");
    background-repeat: no-repeat;
    background-position: top;
    }
    .news_main_container{

        background-image: url("/news_bg.png");

        background-repeat: no-repeat;
        background-size:contain;
        }

        .news_card_text{
            @apply text-[8px] md:text-[10px] leading-[10px] md:leading-[12px]  font-[Sofia] text-white

        }

        .news_card_header{
            @apply text-[14px] md:text-[16px] leading-[14px] md:leading-[20px]  font-[500] font-[Sofia] text-white
 
        }
        .news_read_btn{
            @apply cursor-pointer text-[10px] md:text-[12px] leading-[12px] md:leading-[14px] p-2 font-[500] font-[Sofia] text-white border border-white rounded w-fit

        }
        .home_bottom_header{
            @apply text-[12px] md:text-[16px] leading-[16px] md:leading-[20px] font-[Integral] text-white  font-[500]
          
          }

          .home_bottom_header_seen{
            @apply text-[16px] md:text-[16px] leading-[20px] md:leading-[20px] font-[Integral] text-white  font-[500]
        
        }

.pink_btn{
    @apply p-4 bg-[#F33288] pl-6 pr-6
}
.gallery_btn{
    @apply p-4  pl-6 pr-6;
    background-color: rgb(14, 11, 11);

}


.image_11 {
    overflow: hidden;
}
.image_11 img {
    transition: all 0.3s;
    display: block;
   
    transform: scale(1);
}


.image_11:hover img {
    transform: scale(1.1);
}

.galler_svg_1{
    @apply absolute left-[10%] hidden md:block
}

.galler_svg_2{
    @apply absolute   left-[5%] hidden md:block

} 

.galler_svg_3{
    @apply absolute   left-[10%] hidden md:block
}

.galler_svg_4{
    @apply absolute  right-[13%] hidden md:block
}

.galler_svg_5{
    @apply absolute  right-[7%] hidden md:block
}

.galler_svg_6{
    @apply absolute  right-[18%] hidden md:block
}


.question_text{
    @apply text-[16px] md:text-[18px] leading-[24px] md:leading-[27px] font-[700] font-[Sofia] text-white uppercase

}


.answer_text{
    @apply text-[18px] leading-[27px] font-[700] font-[Sofia] text-white

}
.top_btn{
    @apply text-[12px] md:text-[18px]  leading-[13.5px] md:leading-[24px] font-[500] font-[Integral] text-white uppercase

}
.faq_main_container{
    background: url('/hero_blackGradient.png')  bottom no-repeat, url("/faq_bg.png")  top no-repeat  ;
    min-width: 100vw;
    background-size: cover;
   
}

.event_container{
    background: url("/news_bg.png")   ;
    background-repeat: no-repeat;
   min-width: 100vw;
   background-size: contain;
   min-height:100vh;
  
}

.event_main_container{
    background-color: rgb(6, 6, 6);
}


.event_main_header{
    @apply text-[64px] leading-[84px] font-[500] font-[Integral] text-white text-center uppercase

}

.date_event_main_text{
    /* @apply font-[Sofia] text-[20px] font-[400] leading-[24px] uppercase text-white */
    @apply text-white text-[10px] md:text-[20px] leading-[24px] font-[400] font-[Sofia] uppercase tracking-[10px];

}

.event_section_header{
    @apply font-[Integral] text-[24px] md:text-[40px] font-[400] leading-[24px] uppercase text-white tracking-[8px]

}

.event_section_text{
    @apply font-[Sofia] text-[10px] md:text-[20px] font-[400] leading-[14px] md:leading-[24px]  text-white w-[80%]

}

.buy_ticket_event_main{
    @apply font-[Sofia] text-[12px] md:text-[16px] font-[700] leading-[20px] text-center  text-black bg-[#B2B2B2] text-center p-1 rounded ;
    text-align: center !important;
}

.soldout_ticket_event_main{
    @apply font-[Sofia]  text-[12px] md:text-[16px] font-[400] leading-[20px]  text-black bg-[#D1CFCF] text-center p-1 rounded;

}

.event_bottom_container{
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 1%, rgba(244,0,134,1) 1%, rgba(246,6,129,1) 2%, rgba(246,137,175,1) 98%, rgba(239,128,175,1) 99%, rgba(0,0,0,1) 99%);
    margin-bottom: -10px;
}

.event_bottom_header{
    @apply font-[Sofia] text-[14px] md:text-[24px] font-[400] leading-[18px] md:leading-[25px] uppercase text-white tracking-[1px]

}

.event_bottom_main_hearder{
    @apply font-[Integral] text-[48px] md:text-[80px] font-[400] leading-[52px] md:leading-[94px] uppercase text-white w-[90%] md:w-[75%]

}

.black_btn{
    @apply font-[Integral] rounded text-[12px] md:text-[14px] font-[400] leading-[13px] md:leading-[24px] uppercase text-white bg-black p-2 text-center  w-fit

}

.details_container{
    border: solid 1px #F33288;
   @apply text-white w-[100%] md:w-[80%];
}

.details_header{
    @apply font-[Integral] text-[32px] font-[400] leading-[42px] uppercase text-white 

}

.details_sub_header{
    @apply font-[Sofia] text-[16px] font-[800] leading-[24px] uppercase text-white 
 
}

.details_text{
    @apply font-[Sofia] text-[14px] font-[400] leading-[24px] uppercase text-white 

}

.more_shows_header{
    @apply font-[Integral] text-[24px] md:text-[64px] font-[500] leading-[24px] md:leading-[82px] uppercase text-white  text-center mt-11 mb-6

}

.first_container{
 background: linear-gradient(180deg, transparent 20%, rgb(105, 96, 96) 40%, rgba(0,0,0,1) 40%, ); 
}

.tnc_header{
    @apply text-[24px] md:text-[64px] font-[500] leading-[24px] md:leading-[74px] text-center  font-[Integral] uppercase mb-11;
}

.text_tnc_container{
    @apply w-[75%] mt-11 flex flex-col gap-11 self-center ;
}

.tnc_text_header{
    @apply text-[16px] md:text-[18px] font-[600] leading-[18px] md:leading-[20px]  font-[Sofia] ;

}

.tnc_text{
    @apply text-[14px] md:text-[16px] font-[200] leading-[16px] md:leading-[20px]  font-[Sofia] ;

}

.bg_about_us{
    background-image: url("/aboutus_bg_1.png");
    background-repeat: no-repeat;
    background-size: cover;

}

.bg_about_us_2{
    background-image: url("/aboutus_bg_2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.about_us_header{
    @apply text-[14px] md:text-[16px] font-[200] leading-[16px] md:leading-[20px] font-[400]  font-[Sofia]  text-center ;

}

.about_us_main_header{
    @apply text-[36px] md:text-[128px] font-[200] leading-[40px] md:leading-[164px] font-[700]  font-[Integral] text-center ;

}

.about_us_text{
    @apply text-[12px] md:text-[16px] font-[400] leading-[14px] md:leading-[18px] font-[400]  font-[Sofia]  text-center ;

}

.about_us_btn{
    @apply bg-white rounded text-[#FF0086] font-[Sofia] md:text-[16px] text-[12px] font-[400] leading-[14px] md:leading-[18px] pt-3 pb-3 pl-4 pr-4
}

.about_us_sub_header{
    @apply text-[24px] md:text-[36px] font-[700] leading-[30px] md:leading-[42px]  font-[Integral]  text-center ;

}

.fish_bottom_heading{

}

.party_banner_header{
    @apply text-[24px] md:text-[48px] font-[500] leading-[32px] md:leading-[54px]   font-[Integral]   ;

}

.pat_banner_text{
    @apply text-[16px] md:text-[24px] font-[500] leading-[24px] md:leading-[32px]   font-[manrope]  ;

}

.about_us_botton_container{
    background-image: url('/bottom_bg_about.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.box_text{
    @apply text-[12px] md:text-[16px] font-[400] leading-[12px] md:leading-[16px]   font-[Sofia]  ;

}

.news_heading{
    @apply text-[36px] md:text-[36px] font-[400] leading-[36px] md:leading-[36px]   font-[Sofia]  ;
 
}

.news_text{
    @apply text-[12px] md:text-[16px] font-[400] leading-[12px] md:leading-[21.5px]   font-[Sofia]  ;

}

.bg_home_footer{
    background-color: black;
}

@media screen and (max-width:768px) {
    .bg_home_footer{
    background-image: url('/bottom_bg_about_mob.png');
    background-repeat: no-repeat;
    background-size: cover;
    }
}

.bg-contact{
    background-image: url('/bg_contact.png');
    background-repeat: no-repeat;
    background-size: cover;
}




.popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
  
  .popup-container {
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    opacity: 0;
    transform: scale(0.8);
    transition: all 0.3s ease-in-out;
    background-color: #fff;
    width:30em;
  }

  .popup-container_main{
    overflow: hidden;
    opacity: 0;
    transform: scale(0.8);
    transition: all 0.5s ease-in-out;
    @apply md:w-[70%]  md:h-[95%] flex flex-col justify-center md:p-[40px];

  }
  
  .popup-card {
    padding: 20px;
    text-align: center;
   
  }
  .popup-card_main{
    padding: 20px;
    text-align: center;
    @apply flex justify-center gap-3;
  }
  .popup-card_main_mob{
    padding: 20px;
    text-align: center;
    @apply flex gap-3;
  }


  
  .popup-card h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
.thanks_text{
    @apply text-[12px] md:text-[16px] font-[400] leading-[12px] md:leading-[21.5px]   font-[Sofia]  text-[#F33288] ;

}
  #close-popup {
    background-color: #F33288;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    @apply text-[14px] md:text-[18px] font-[400] leading-[12px] md:leading-[21.5px]   font-[Sofia]  text-[#fff] ;
  }
  
  #close-popup_main {
    background-color: #F33288;
    color: white;
    border: none;
    padding: 8px 10px;
    border-radius: 4px;
    cursor: pointer;
    @apply  md:h-[30px] h-[30px] font-[Sofia] w-fit  text-[#fff] ;
  }